<div class="formbold-main-wrapper">
    
    <div class="formbold-form-wrapper">
      <h1>Customer Churn prediction</h1>
      <br>
      <br>
         <form action="{{ url_for('predict')}}"method="post">
        <div class="formbold-input-wrapp formbold-mb-3">
          <label for="CreditScore" class="formbold-form-label"> CreditScore </label>
          <div>
            <input
              type="number"
              name="CreditScore"
              placeholder="1-900"
              required="required"
              class="formbold-form-input"
              min="1"
              max="900"
            />

          </div>
        </div>
        <div class="formbold-mb-3">
          <label for="Geography" class="formbold-form-label"> Geography </label>
          <input
            type="number"
            name="Geography"
            placeholder="0-France,1-spain,2-Germany"
            class="formbold-form-input"
            min="0"
            max="2"
          />
        </div>
  
        <div class="formbold-mb-3">
          <label for="Gender" class="formbold-form-label"> Gender </label>
          <input type="number" 
          name="Gender" 
          placeholder="0-Female,1-Male" 
          required="required" 
           class="formbold-form-input" 
          min="0"
          max="1"
          />
        </div>
  
        <div class="formbold-mb-3">
          <label class="formbold-form-label">Age</label>
  
          <input 
          type="number"
          name="Age" 
           class="formbold-form-input"
            required="required" 
            min="16"
            max="90"
            />
        </div>
  
        <div class="formbold-mb-3">
          <label for="Tenure" class="formbold-form-label"> Tenure </label>
          <input type="number" 
          name="Tenure "
          class="formbold-form-input" 
          placeholder="1-10" 
          required="required" 
          min="1"
          max="10"
          />
        
        </div>
  
        <div class="formbold-mb-3">
          <label for="Balance" class="formbold-form-label"> Balance </label>
  
          <input
            type="number"
            name="Balance"
            class="formbold-form-input formbold-mb-3"
            step="0.01"
          />
        </div>
  
        <div class="formbold-mb-3 formbold-input-wrapp">
          <label for="NumOfProducts" class="formbold-form-label"> Number Of Products </label>
  
          <div>
            <input
              type="number"
              name="NumOfProducts" 
              placeholder="1-5"
              class="formbold-form-input"
              min="1"
              max="5"
            />

          </div>
        </div>
  
        <div class="formbold-mb-3">
          <div>
            <label for="HasCrCard" class="formbold-form-label"> Does he/she have a Credit Card ? </label>
            <input
              type="number"
              name="HasCrCard"
              placeholder="0-No,1-Yes"
              class="formbold-form-input"
              min="0"
              max="1"
            />
          </div>
        </div>
  
        <div class="formbold-mb-3">
            <div>
              <label for="IsActiveMember" class="formbold-form-label">Is he/she an Active Member ?</label>
              <input
                type="number"
                name="IsActiveMember"
                placeholder="0-No,1-Yes"
                class="formbold-form-input"
                min="0"
                max="1"
              />
            </div>
            <div class="formbold-mb-3">
               <div>
                  <label for="EstimatedSalary" class="formbold-form-label">Whats their Estimated Salary?</label>
                  <input
                    type="number"
                    name="EstimatedSalary"
                    class="formbold-form-input"
                    step="0.01"
                  />
                </div> 
      
  
        <button class="formbold-btn">Submit</button>
      </form>
      <br>
      <br>
      {{ prediction_text }}

    </div>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: 'Inter', sans-serif;
    }
    .formbold-mb-3 {
      margin-bottom: 15px;
    }
    .formbold-relative {
      position: relative;
    }
    .formbold-opacity-0 {
      opacity: 0;
    }
    .formbold-stroke-current {
      stroke: #ffffff;
      z-index: 999;
    }
    #supportCheckbox:checked ~ div span {
      opacity: 1;
    }
    #supportCheckbox:checked ~ div {
      background: #6a64f1;
      border-color: #6a64f1;
    }
  
    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }
  
    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 570px;
      width: 100%;
      background: white;
      padding: 40px;
    }
  
    .formbold-img {
      display: block;
      margin: 0 auto 45px;
    }
  
    .formbold-input-wrapp > div {
      display: flex;
      gap: 20px;
    }
  
    .formbold-input-flex {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
    }
    .formbold-input-flex > div {
      width: 50%;
    }
    .formbold-form-input {
      width: 100%;
      padding: 13px 22px;
      border-radius: 5px;
      border: 1px solid #dde3ec;
      background: #ffffff;
      font-weight: 500;
      font-size: 16px;
      color: #536387;
      outline: none;
      resize: none;
    }
    .formbold-form-input::placeholder,
    select.formbold-form-input,
    .formbold-form-input[type='date']::-webkit-datetime-edit-text,
    .formbold-form-input[type='date']::-webkit-datetime-edit-month-field,
    .formbold-form-input[type='date']::-webkit-datetime-edit-day-field,
    .formbold-form-input[type='date']::-webkit-datetime-edit-year-field {
      color: rgba(83, 99, 135, 0.5);
    }
  
    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    .formbold-form-label {
      color: #536387;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-bottom: 10px;
    }
  
    .formbold-checkbox-label {
      display: flex;
      cursor: pointer;
      user-select: none;
      font-size: 16px;
      line-height: 24px;
      color: #536387;
    }
    .formbold-checkbox-label a {
      margin-left: 5px;
      color: #6a64f1;
    }
    .formbold-input-checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
    .formbold-checkbox-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 16px;
      margin-top: 2px;
      border: 0.7px solid #dde3ec;
      border-radius: 3px;
    }
  
    .formbold-form-file {
      padding: 12px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(83, 99, 135, 0.5);
    }
    .formbold-form-file::-webkit-file-upload-button {
      display: none;
    }
    .formbold-form-file:before {
      content: 'Upload';
      display: inline-block;
      background: #EEEEEE;
      border: 0.5px solid #E7E7E7;
      border-radius: 3px;
      padding: 3px 12px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      color: #637381;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      margin-right: 10px;
    }
  
    .formbold-btn {
      font-size: 16px;
      border-radius: 5px;
      padding: 14px 25px;
      border: none;
      font-weight: 500;
      background-color: #6a64f1;
      color: white;
      cursor: pointer;
      margin-top: 25px;
    }
    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
  
    .formbold-w-45 {
      width: 45%;
    }
  </style>